<div class="main-section">
    <div class="content">
        <h1>Web3's future needs privacy, and we're here to validate it!</h1>
        <br>
        <h2>Why Does Web3 Need Privacy?</h2>
        <br>
        <%= image_tag 'compliance.webp', alt: 'Compliance Image', class: 'main-image' %>
        <br><br>
        <p>Traditional blockchains are typically fully transparent, making user data immediately public and available for analysis and research. This level of transparency can render Web3 unsuitable for institutional players and can prevent its use entirely.</p>
    </div>
    <div class="content">
        <h2>What is Decentralized Confidential Computing (DeCC)?</h2>
        <br>
        <%= image_tag 'decc.webp', alt: 'DeCC Image', class: 'main-image' %>
        <br><br>
        <p>
            Confidential computing has been around for years but is often mistakenly grouped with privacy chains, obscuring its true potential. DeCC is a distinct category that ensures compliance and supports corporate use cases.
            <br><br>
            DeCC enables protected computing, allowing arbitrary computations on data without exposing it to the world. Additionally, confidential computing facilitates opt-in compliance. Users can decide who can access their data and when with fine-grained access controls.
        </p>
    </div>
    <div class="content">
        <h2>New uses DeCC is enabling across Web3 infrastructure:</h2>
        <br><br>
        <%= image_tag 'hands.webp', alt: 'Hands Image', class: 'main-image' %>
        <br>
        <ul class="custom-list">
            <li>Decentralized on-chain identity that safeguards data privacy</li>
            <li>Decentralized confidential document sharing</li>
            <li>Verifiable on-chain Random Number Generation (RNG)</li>
            <li>Confidential on-chain voting (e.g., for DAOs)</li>
            <li>Confidential trading strategies for DeFi</li>
            <li>AI model training on confidential data and/or with confidential parameters</li>
            <li>NFTs with protected data, ensuring true ownership of content on Web3</li>
            <li>Sealed-bid auctions for DeFi, DeSci, and NFTs</li>
            <li>Various gaming applications</li>
        </ul>
</ul>

    </div>
    <div class="content">
        <h2>How does it work?</h2>
        <br>
        <%= image_tag 'datacenter.webp', alt: 'DataCenter Image', class: 'main-image' %>
        <br><br>
        <p>
            DeCC leverages technologies like ZKPs, MPC, FHE, and TEEs for blockchain implementation. These tools enable decentralized confidential computations, securing user data with varying degrees of security, speed, and flexibility.
            <br><br>
            Trusted Execution Environments (TEE): TEEs are secure areas within a processor that ensure code and data loaded inside are protected with respect to confidentiality and integrity. They offer fast and secure hardware-dependent computations.
            <br><br>
            Zero-Knowledge Proofs (ZKP): ZKPs allow one party to prove to another that they know a value, without revealing the value itself. For example, proving you have a password without showing the password.
            <br><br>
            Multi-Party Computation (MPC): MPC enables multiple parties to collaboratively compute a function over their inputs while keeping those inputs private. No single party can access all the confidential information.
            <br><br>
            Fully-Homomorphic Encryption: FHE allows computations to be performed on encrypted data without decrypting it. This means you can process data securely without exposing it.
            <br><br>
            Each has unique advantages, and combining them will be crucial for DeCC's future.
            <br><br>
            <a href="https://scrt.network/" class="black-button">Learn More</a>
        </p>
    </div>
    <div class="content">
        <h2>Bug Bounty Program</h2>
        <br>
        <%= image_tag 'hacker.webp', alt: 'hacker Image', class: 'main-image' %>
        <br><br>
        <p>
            We offer a bug bounty reward to individuals who responsibly disclose security vulnerabilities in our systems. By reporting bugs in a responsible manner, you help us maintain the security and integrity of our services. 
            <br><br>
            We value your contributions and will provide a monetary reward for verified vulnerabilities, ensuring that our platform remains safe for all users.   
            <br><br>
            Thank you for helping us improve our security.
        </p>
        <br><br>
        <h3>Join us in building a privacy-focused future</h3>
        <br>
        <p>At YoloNode, we're focused on providing validation services to blockchain networks that prioritize privacy and security. We're committed to supporting projects that align with these values, ensuring a safer and more decentralized future.</p>

    </div>
</div>
