<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Yolonode" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %> <!-- Use this for Import Maps -->
  </head>

  <body>
    <header>
      <nav style="background-color: #333; padding: 10px;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <!-- Logo -->
          <div>
            <img src="<%= asset_path('yolonode.png') %>" alt="Logo" style="height: 40px;"> 
          </div>

          <!-- Menu Items -->
          <ul style="list-style: none; display: flex; margin: 0; padding: 0;">
            <li style="margin-right: 20px;">
             <!--  <a href="<%= your_login_path %>" style="color: #C1DF03; text-decoration: none;">Login</a> <!-- Replace with your login path -->
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
