<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Yolonode" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Banner Section -->
    <div class="banner">
      Producing blocks on Secret Network since 7/10/2024!
    </div>

    <div class="image-section">
        <div class="button-container">
            <a href="https://www.mintscan.io/secret/validators/secretvaloper1pkzmfk34qg46p4hen0dnlkn05rzje65xk4tzjc" class="custom-button" target="_blank">Validator Info</a>
            <a href="https://dash.scrt.network/staking" class="custom-button" target="_blank">Stake With Us!</a>
        </div>
    </div>

    <%= yield %>
  </body>
</html>
